{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls is--info">
      {% if author.location %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li><i class="fa fa-fw fa-briefcase" aria-hidden="true"></i> {{ author.employer }}</li>
      {% endif %}
    </ul>

    <ul class="author__urls is--icons">
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}" title="Email"><i class="fas fa-envelope" aria-hidden="true"></i><span class="label"> Email</span></a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i><span class="label"> GitHub</span></a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span class="label"> LinkedIn</span></a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}" title="Google Scholar"><i class="fas fa-graduation-cap" aria-hidden="true"></i><span class="label"> Google Scholar</span></a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}" title="ORCID"><i class="ai ai-orcid" aria-hidden="true"></i><span class="label"> ORCID</span></a></li>
      {% endif %}
      {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}" title="ResearchGate"><i class="fab fa-researchgate" aria-hidden="true"></i><span class="label"> ResearchGate</span></a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i><span class="label"> Twitter</span></a></li>
      {% endif %}
    </ul>
  </div>
</div>
